body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.videos-container {
  padding: 0px 10vw;
}

.videos-lists {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-gap: 30px;
}

.videos-container section:hover .videos-thumbnail {
  opacity: 0.5;
}

section {
  width: 100%;
  cursor: pointer;
}

.videos-info {
  display: flex;
  flex-direction: column;
}
.videos-info span {
  margin-top: 5px;
}

.videos-info span:first-child {
  color: black;
  font-size: 16px;
}

.videos-info span:last-child,
.detail-metadata__date {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 14px;
}
.detail-metadata__date {
  font-size: 16px;
  margin: 10px 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.detail-container {
  margin-top: 3vh;
  padding: 0px 15vw;
}

.detail-link,
.detail-competition a {
  text-decoration: none;
  color: black;
  background-color: grey;
  padding: 5px 10px;
  width: 70px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
.detail-link:hover,
.detail-metadata__match div:first-child a:hover,
.detail-competition a:hover {
  background-color: cornflowerblue;
}
.detail-metadata__match div:last-child a:hover {
  background-color: tomato;
}

.detail-video {
  margin-top: 10px;
}

.detail-metadata {
  display: flex;
  flex-direction: column;
}

.detail-metadata__match {
  display: flex;
  justify-content: space-between;
}

.detail-metadata__match div {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.detail-metadata__match div a {
  margin-top: 10px;
  text-decoration: none;
  color: black;
  background-color: grey;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
