body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px 10vw;
}
.video-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-gap: 30px;
}

.video-container section:hover .video-thumbnail {
  opacity: 0.5;
}

section {
  width: 100%;
  cursor: pointer;
}

.video-info {
  display: flex;
  flex-direction: column;
}
.video-info span {
  margin-top: 5px;
}

.video-info span:first-child {
  color: black;
  font-size: 16px;
}

.video-info span:last-child {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 14px;
}
