html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media all and (max-width: 750px) {
  html {
    font-size: 50%;
  }
}
.videos-container {
  padding: 0px 10vw;
}

.videos-lists {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.videos-container h2 {
  font-size: 2.6rem;
}

.videos-container section:hover .videos-thumbnail {
  opacity: 0.5;
}

section {
  width: 100%;
  cursor: pointer;
}

.videos-info {
  display: flex;
  flex-direction: column;
}
.videos-info span {
  margin-top: 5px;
}

.videos-info span:first-child {
  color: black;
  font-size: 1.6rem;
}

.videos-info span:last-child,
.detail-metadata__date {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 1.4rem;
}
.detail-metadata__date {
  margin: 10px 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.detail-container {
  margin-top: 3vh;
  padding: 0px 5vw;
}

.detail-link,
.detail-competition a {
  text-decoration: none;
  color: black;
  background-color: grey;
  padding: 5px 10px;
  width: 100%;
  max-width: 70px;
  font-size: 1.6rem;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
.detail-link:hover,
.detail-metadata__match div:first-child a:hover,
.detail-competition a:hover {
  background-color: cornflowerblue;
}
.detail-metadata__match div:last-child a:hover {
  background-color: tomato;
}
.detail-title {
  font-size: 2.6rem;
}
.detail-competition {
  font-size: 1.6rem;
}

.detail-video {
  margin-top: 10px;
}

.detail-metadata {
  display: flex;
  flex-direction: column;
}

.detail-metadata__match {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}

.detail-metadata__match div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
}

.detail-metadata__match div a {
  margin-top: 10px;
  text-decoration: none;
  color: black;
  background-color: grey;
  padding: 5px 5px;
  border-radius: 10px;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
